<div class="four wide column">
  <div class="ui small vertical menu">
    <a class="item">
      Assignment
    </a>
    <a class="item">
      Submit Assignment
    </a>
    <a class="item">
      Leave Group
    </a>
  </div>
</div>
