<div class="four wide column">
  <div class="ui small vertical menu">
    <%= link_to "Students", students_path, :class => "item"%>
    <%= link_to "Groups", list_groups_path, :class => "item"%>
  </div>
</div>
