<div class="ui one column grid">
  <div class="column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% for group in @groups%>
          <tr>
            <td data-label="fname"><%= group.name %></td>
            <td data-label="action"><%#= link_to "Provide Feedback", feedback_path(task.id), :class => "item"%> Detail</td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
