<div class="four wide column">
  <div class="ui small vertical menu">
    <%= link_to "All Conversation", conversations_path, :class => "item" %>
    <%= link_to "New Conversation", new_conversation_path, :class => "item" %>
  </div>
</div>
