<div class="ui one column grid">
  <div class="column">
    <h4> Submission </h4>
    <br/>
    <%= link_to "Download file", rails_blob_path(@submission.project, disposition: "attachment") %>
  </div>
</div>
