<div class="ui one column grid">
  <div class="column"> List of completed task
    <hr/>
  </div>
  <div class="column">
    <%if @completed_task.present?%>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Detail</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for task in @completed_task%>
            <tr>
              <td data-label="Name"><%= task.name %></td>
              <td data-label="Detail"><%= task.detail %></td>
              <td data-label="action"><%= link_to "Provide Feedback", feedback_path(task.id), :class => "item"%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <%else%>
      No completed task found
    <%end%>
  </div>
</div>
